@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

h2 {
	text-align: center;
}

.social-media-container {
	position: fixed;
	top: 50%;
	left: calc(100% - 60px);
	list-style-type: none;
	padding: 0;
	transform: translateY(-50%);
	min-width: 250px;
}

.social-media {
	align-items: center;
	display: flex;
	transition: transform .3s ease-in-out;
}

.social-media:hover {
	transform: translateX(calc(-100% + 60px));
}

.social-media.blog {
	background-color: #e17b77;
}

.social-media.facebook {
	background-color: #3b5998;
}

.social-media.twitter {
	background-color: #00aced;
}

.social-media.github {
	background-color: #333;
}

.social-media.linkedin {
	background-color: #007bb6;
}

.social-media i {
	color: #fff;
	font-size: 20px;
	padding: 15px;
	text-align: center;
	width: 60px;
}

.social-media a {
	color: #fff;
	padding: 0 10px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
.fa-laptop-code:before {
    content: "\f5fc";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-linkedin-in:before {
    content: "\f0e1";
}
.fa-facebook-f:before {
    content: "\f39e";
}
.fa-github:before {
    content: "\f09b";
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.social-media i {
    color: #fff;
    font-size: 20px;
    padding: 15px;
    text-align: center;
	width: 60px;
}