.App {
  text-align: center;
}

header {
  height: 25vh;
  color: white;
  background-color: #252525;
  display: grid;
  place-items: center;
}

main {
  display: flex;
}

.grocery-list,
.shopping-cart {
  flex: 1;
  margin: 1em;
}

ul.app-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: start;
}

ul.app-list li {
  padding: 0.5em;
  margin: 2px;
  background-color: rgb(235, 165, 165);
}

ul.app-list li:nth-child(2n + 1) {
  background-color: rgb(199, 118, 118);
}

.shopping-cart ul.app-list li {
  background-color: rgb(165, 181, 235);
}

.shopping-cart ul.app-list li:nth-child(2n + 1) {
  background-color: rgb(127, 142, 190);
}

button {
  padding: 0.5em;
  margin: 0.5em;
}

.input-field {
  display: flex;
  align-items: center;
}

.input-field input {
  flex-grow: 1;
  padding: 0.5em;
}

.input-field button {
  width: 25%;
}

.shopping-cart .list-item {
  display: flex;
  justify-content: space-between;
}
