.dayview li {
  list-style-type: none;
  background-color: lightyellow;
}

.dayview .appointment {
  border: 2px solid grey;
  width: 60%;
  margin-bottom: 20px;
}

.dayview .time,
.dayview .patient {
  height: 30px;
  padding: 10px;
}

.dayview .time {
  float: right;
  background-color: aquamarine;
}

.dayview .patient {
  font-weight: bold;
  background-color: deepskyblue;
}

.dayview .dentist,
.dayview .assistant {
  padding: 10px;
}
