body {
  font-family: sans-serif;
}

main {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
}

article {
  border: 1.5px solid lightgrey;
  border-radius: 10px;
  width: 386px;
  margin: 15px;
  box-shadow: 1px 1px 2px lightgrey;
}
article div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 15px;
}
.card-heading {
  margin-top: 15px;
}
.card-heading p {
  margin: 10px 0 0;
}
.card-heading h2 {
  margin: 0;
}
.card-subtitle {
  color: grey;
}
.card-buttons {
  justify-content: center;
  border-top: 0.5px solid lightgrey;
  margin-left: 0;
}
.card-title {
  font-weight: bold;
}
.card-subtitle {
  margin-bottom: 20px;
}
.card-avatar {
  margin-right: 15px;
  width: 45px;
  height: 45px;
}
.card-body {
  margin-bottom: 20px;
  height: 80px;
}

button {
  width: 172px;
  margin: 15px 0;
  padding: 10px;
  font-size: 19px;
  font-weight: 600;
  background-color: white;
}
.green-button {
  border-left: 1.5px solid limegreen;
  border-right: none;
  border-top: 1.5px solid limegreen;
  border-bottom: 1.5px solid limegreen;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: limegreen;
}

.red-button {
  border: 1.5px solid red;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: red;
}
button:hover {
  cursor: pointer;
  background-color: #f8f8f8;
}
