@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	margin: 0 0 50px;
	text-align: center;
}

p {
	line-height: 24px;
	margin: 0;
}

.portfolio-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1120px;
	margin: 20px;
}

.portfolio-item {
	border-radius: 10px;
	margin: 20px 1.6%;
	overflow: hidden;
	position: relative;
	width: 30%;
}

.portfolio-item img {
	object-fit: cover;
	transition: transform 200ms ease-in;
	height: 100%;  	
	width: 100%;
}

.portfolio-item:hover img {
	transform: scale(1.1);
}

.portfolio-content {
	background-color: #293347;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	width: 100%;
	height: 100%;
}

.portfolio-item:hover .portfolio-content {
	opacity: 1;
}

.portfolio-content p {
	color: #fff;
	font-size: 20px;
	padding: 0 40px;
}

.portfolio-content a {
	background-color: #fff;
	border-radius: 3px;
	color: #000;
	margin-top: 20px;
	padding: 7px 15px;
	text-decoration: none;
}

@media (max-width: 960px) {
	.portfolio-item {
		width: 48%;
		margin: 15px 1%;
	}
}

@media (max-width: 768px) {
	.portfolio-item {
		width: 100%;
		margin: 15px 0;
	}
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}